<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Homepage</title>
  </head>
  <body>

    {{> header}}

    <form action="/logout" method="post">
      <button type="submit" name="logout">logout</button>
    </form>
    <p>Welcome to the homepage {{email}}</p>
  </body>
</html>
