<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login</title>
  </head>
  <body>
    <p>login</p>

    {{#each errors}}
      <p>{{this.msg}}</p>
    {{/each}}

    <form action="/login" method="post">
      <input type="text" name="email" placeholder="email" autofocus/>
      <input type="password" name="password" placeholder="password" autocomplete="false"/>
      <button type="submit" name="login">Login</button>
    </form>
    
    <br/>
    <a href='/register'>register</a>
  </body>
</html>
