<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Register</title>
  </head>
  <body>
    <p>Register</p>

    {{#each errors}}
      <p>{{this.msg}}</p>
    {{/each}}

    <form action="/register" method="post">
        <input type="text" name="email" placeholder="Enter a valid email">
        <input type="password" name="password" placeholder="Enter a password">
        <input type="password" name="validatePassword" placeholder="Retype password">
        <button type="submit" name="button">Register</button>
    </form>
  </body>
</html>
